        /* General Styles */
        body {
            margin: 0;
            font-family: Verdana, sans-serif;
            line-height: 1.6;
            padding-top: 75px; /* Must be >= header height */
            background-image: url("images/photo_background.png");
            background-repeat: no-repeat; /* Prevents tiling */
            background-size: cover;       /* Scales image to fill screen */
            background-attachment: fixed; /* Image stays still when scrolling */
            background-color: #ead299;
        }

        .header-text h1 {
            margin: 0;
            font-size: 24px;
            color: #2e2442;
        }

        .header-text p {
            margin: 0;
            font-size: 20px;
            /*font-size: min(1.3em, 3.5vw);*/
            color: #2e2442;
        }

        .header-container {
            display: flex;
            align-items: center; /* Vertically centers text with image */
            justify-content: left;
            gap: 20px;           /* Space between image and text */
            padding: 20px;
            height: 60px;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #ead299;
            background-image: url("images/mailstamp.png");
            background-repeat: no-repeat; /* Prevents tiling */
            background-position: 90px;
            background-size: contain; /* Adjust size here */
            position: fixed;
            z-index: 1000;
            box-shadow: 12px 12px 8px 4px #2e244290;
            cursor: pointer;
        }

        .mail-stamp img {
            width: auto;        /* Adjust size as needed */
            height: 80px;
            border-radius: 8px;
        }

        .header-logo img{
            width: auto;        /* Adjust size as needed */
            height: 80px;
            border-radius: 8px;
        }

        .header-image {
            width: 100px;        /* Adjust size as needed */
            height: 100px;
            object-fit: cover;
            border-radius: 8px;
        }

        .header h1 {
            font-size: 3rem;
        }

        /* 3-Column Layout Section */
        .column-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 20px;
            padding: 20px 20px;
            gap: 20px;
        }

        .column1 {
            flex: 1;
            max-width: 400px;
            background: #fff3d8;
            padding: 15px;
            text-align: center;
            transform: rotate(1deg);
            transition: transform 0.3s ease;
            box-shadow: 12px 12px 8px 4px #2e244290;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }

        .column1:hover {
            transform: rotate(0deg);
        }

        .column1 h3,p,h2{
            margin: 3px;
        }

        .column2 h3,p,h2{
            margin: 3px;
        }

        .column2 {
            flex: 1;
            max-width: 400px;
            background: #fff3d8;
            padding: 15px;
            text-align: center;
            transform: rotate(-1deg);
            transition: transform 0.3s ease;
            box-shadow: 12px 12px 8px 4px #2e244290;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }

        .column2:hover {
            transform: rotate(0deg);
        }

        .column1 img {
            width: 400px;
            height: 300px;
            object-fit: cover; /* Keeps aspect ratio clean */
        }

        .column2 img {
            width: 400px;
            height: 300px;
            object-fit: cover; /* Keeps aspect ratio clean */
        }

        /* Responsive Breakpoint for Mobile */
        @media (max-width: 600px) {
            .header {
                height: 300px;
            }

            .column1 {
                width: 90vw;
            }

            .column2 {
                height: 90vw;
            }

            .header h1 {
                font-size: 2rem;
            }

            .column1 img {
                width: 85vw;
            }

            .column2 img {
                width: 85vw;
            }

            .column1 iframe {
                width: 85vw;
            }

            .column2 iframe {
                width: 85vw;
            }

            body{
                background-size: 100vh;
            }
            
        }

        .container {
            display: flex;
            align-items: center; /* Centers items vertically */
            gap: 40px;           /* Space between image and text */
            padding: 40px;
            max-width: 1000px;
            margin: 0 auto;      /* Centers the section on the page */
        }

        .image-box {
            max-width: 300px;
            height: auto;
            transform: rotate(-1deg);
            background-color: #fff3d8;
            padding: 20px;
            justify-content: center;
            box-shadow: 12px 12px 8px 4px #2e244290;
        }

        .image-box h2{
            margin: 5px;
            text-align: center;
            padding: 0px;
        }

        .image-box img {
            max-width: 300px;
            height: auto;
        }

        .content-box {
            transform: rotate(0deg);
            padding: 40px;
            background-color: #fff3d8;
            box-shadow: 12px 12px 8px 4px #2e244290;
        }

        .content-box h1 {
            margin-top: 0;
            font-size: 2.5rem;
        }

        .wish-you-were-here {
            transform: rotate(1deg);
            background-color: #fff3d8;
            box-shadow: 12px 12px 8px 4px #2e244290;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 820px;
            max-width: 90vw;
            padding: 10px;
            margin: 10px auto;      /* Centers the section on the page */
        }

        .wish-you-were-here img{
            max-width: 88vw;       /* Adjust size as needed */
            width: 800px;       /* Adjust size as needed */
            height: auto;
            margin: 10px;
        }

        .wish-you-were-here p{
            margin: 10px;
        }

        .wish-you-were-here h2{
            margin: 5px;
        }

        .resume-button {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 1000px;
            max-width: 90vw;
            padding: 20px;
            gap: 20px;
            margin: 10px auto;      /* Centers the section on the page */
        }

        .resume-button summary{
            display: flex;
            justify-content: space-between; /* Pushes content to the edges */
            align-items: center;            /* Vertically centers the items */
            list-style: none;   
            transform: rotate(1deg);
            justify-content: center;
            border: none;
            font-size: 20px;
            padding: 15px;
            gap: 20px;
            filter: drop-shadow(6px 6px 8px #2e244290);
            background-image: url("images/resumestamp.png");
            background-repeat: no-repeat; /* Prevents tiling */
            background-size: contain;
            background-position: 20px;
            transition: transform 0.3s ease;
            background-color: #ead299;
            cursor: pointer;
        }

        .resume-button summary:hover{
            transform: rotate(0deg);
        }

        .resume-button summary::marker{
            content: "";
        }

        .resume-button details{
            justify-content: center;
            border: none;
            width: 100%;
            padding: 15px;
        }

        .resume-button iframe{
            box-shadow: 12px 12px 8px 4px #2e244290;
            width: 100%;
            aspect-ratio: 8.5 / 11;
        }

        .resume-button button{
            display: flex;
            justify-content: space-between; /* Pushes content to the edges */
            align-items: center;            /* Vertically centers the items */
            list-style: none;   
            transform: rotate(-1deg);
            justify-content: center;
            border: none;
            font-size: 20px;
            gap: 20px;
            padding: 15px;
            width: 97%;
            filter: drop-shadow(6px 6px 8px #2e244290);
            background-image: url("images/linkedinstamp.png");
            background-repeat: no-repeat; /* Prevents tiling */
            background-size: contain;
            background-position: 20px;
            transition: transform 0.3s ease;
            background-color: #ead299;
            cursor: pointer;
        }

        .resume-button button:hover{
            transform: rotate(0deg);
        }

        /* Makes it mobile-friendly */
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
                text-align: center;
            }
        }